body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('img/5_background/backdrop6.png');
    background-size: cover; /* Deckt den gesamten Bereich ab und behält das Seitenverhältnis bei */
    background-position: center;  /* Zentriert das Bild */
    background-repeat: no-repeat; /* Verhindert die Wiederholung des Bildes */
}

.background {
    height: 100%;
    width: 100%;
    /* background-color: rgba(253, 229, 9, 0.2); */

    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none{
    display: none;
}

.stage{
    display: flex;
    justify-content: center;
    position: relative;
}

.ingameControll{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100px;
    width: 200px;
    border: 1px solid yellow;
}

.audio-btn-container{
    height: 40px;
    width: 40px;
    border: 1px solid white;
}

.audio-btn-container img{
    height: 100%;
    width: 100%;
}


.overlay {
    position: absolute;
    height: 480px;
    width: 720px;
    z-index: 3;
    background-image: url('./img/9_intro_outro_screens/start/startscreen_3.png'); /* Pfad zu Ihrem Bild */
    background-size: cover; /* Deckt den gesamten Bereich ab und behält das Seitenverhältnis bei */
    background-position: center;  /* Zentriert das Bild */
    background-repeat: no-repeat; /* Verhindert die Wiederholung des Bildes */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


.frame{
    background-color: black;
    border: 2px solid #FDE58F;
    border-radius: 10px
}

.top{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgb(253, 229, 143, 0.2);
}

.start-audio-container{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.start-audio-container img {
    height: 40px;
    width: 40px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 125ms ease-in-out; 
}

.start-audio-container img:hover{
    height: 43px;
    width: 43px;
    transition: all 125ms ease-in-out; 
}


#audio-img-container{
    height: 43px;
    width: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    margin: 0;
    padding: 10px;
    letter-spacing: 1px;
}

.start-container{
    margin-top: 5px;
    background: linear-gradient(180deg, rgba(255, 198, 33, 1) 0%, rgba(255, 220, 0, 1) 50%, rgba(255, 160, 0, 1) 100%);
    color: rgb(0, 0, 0, 0.8);
    align-self: center;
    width: 240px;
    text-align: center;
    border-radius: 30px;
    border: 2px solid rgb(162, 34, 11, 0.5); 
    cursor: pointer;
    transition: all 125ms ease-in-out; 
}

.start-container:hover{
    transition: all 125ms ease-in-out; 
    border: 3px solid rgb(162, 34, 11, 0.7); 
}

.hovering {
    animation-name: hovering;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes hovering {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -8px);}
    to {transform: translate(0, -0px);}
}


.description{
    color: beige;
    width: 90%;
    border: 2px solid rgb(253, 229, 143, 0.2);
    margin-bottom: 20px;
}

.box-wrapper{
    display: flex;
    justify-content: space-around;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box img {
    height: 28px;
}
.des-txt{
    padding-left: 5px;
    font-size: 21px;
    font-weight: 600;
}


canvas {
    display: block;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}


@media only screen and (max-height: 480x) {
    canvas {
        height: 100vh;
    }
}